YOOKASSA_SHOP_ID=000000
YOOKASSA_SECRET_KEY=test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
YOOKASSA_RETURN_URL=http://localhost:8790/?payment=success
PORT=8790
VITE_YANDEX_METRIKA_ID=00000000
APP_ORIGIN=https://gonofat.ru
TELEGRAM_BOT_TOKEN=0000000000:telegram_bot_token_from_botfather
TELEGRAM_WEBHOOK_SECRET=change_me_to_long_random_string
TELEGRAM_BOT_URL=https://t.me/your_bot_username
GOOGLE_APPS_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/your_deployment_id/exec
